<h1>Welcome to <%= @user.email %>!</h1>
<h2>Here are your created events</h2>

<br>
<br>
<%= link_to "Create an Event", new_event_path, method: :get %>
<br>
<br>

<h2>Created events</h2>
<ul>
    <% @user.created_events.all.each do |event| %>
        <li><%= event.name %></li>
    <% end %>
</ul>

<br>
<br>

<h2>Upcoming events</h2>
<ul>
    <% @events.where("date >=  date('now')").all.each do |event| %>
        <li><%= event.name %></li>
    <% end %>
</ul>

<br>
<br>

<h2>Attended events</h2>
<ul>
    <% @events.where("date <  date('now')").all.each do |event| %>
        <li><%= event.name %></li>
    <% end %>
</ul>
