<h1>Welcome to Eventbrite!</h1>
<% if user_signed_in? %>
    <%= button_to "My Profile", user_path(current_user), method: :get %>
    <br>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= button_to "Sign In", new_user_session_path, method: :get %>
<% end %>

<br>
<br>

<h2>Upcoming Events</h2>

<% @events_upcoming.each do |event| %>
    <ul>
        <li>
            <%= link_to event.name, event_path(event), method: :get %> 
            <% if user_signed_in? and !Attendee.where(attendee_id: current_user.id).where(attended_event_id: event.id).exists? %>
                <%= button_to "Attend Event", attendees_path, method: :post, params: { attendee_id: current_user.id, attended_event_id: event.id } %>
            <% end %>
        </li>
    </ul>
<% end %>

<br>
<br>

<h2>Past Events</h2>

<% @events_past.each do |event| %>
    <ul>
        <li>
            <%= link_to event.name, event_path(event), method: :get %> 
            <% if user_signed_in? and !Attendee.where(attendee_id: current_user.id).where(attended_event_id: event.id).exists? %>
                <%= button_to "Attend Event", attendees_path, method: :post, params: { attendee_id: current_user.id, attended_event_id: event.id } %>
            <% end %>
        </li>
    </ul>
<% end %>
